<div class="container">
  <h1>My Quotes</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul class="quotes">
        <li *ngFor="let quote of quotes">
          <div class="card">
              <div class="card-content">          
                <span class="card-title grey-text text-darken-4">"<i><li appStrikethrough>{{quote.text}}</li></i>"</span>
                <b>~{{quote.author}}</b>
                <hr>
                <p>Submited by:</p>
                <p>On:{{quote.completeDate|date|uppercase}}</p>
              </div>        
            </div>
          </li>
      </ul>     
    </div>  
    <div class="col-md-6">
      <app-quote-form></app-quote-form>
    </div> 
  </div>
</div>
  