<div class="container">
  <h1>Great <span>Q</span>uotes<span>.</span></h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul class="quotes">
        <li *ngFor="let quote of quotes;let i = index">
          <div class="card">
              <div class="card-content">          
                <span class="card-title grey-text text-darken-4"><span>"</span><i><li appStrikethrough>{{quote.text}}</li></i><span>"</span></span>
                <b>~{{quote.author}}</b>
                <hr>
                <p>Submited by:<b>{{quote.name}}</b></p>
                <p>On:<b>{{quote.completeDate|date|uppercase}}</b></p>
                <button (click)='toggleDetails(i)' class="btn btn-primary">More</button>

                
              <div *ngIf='quote.showDescription'>
                <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'>
                </app-quote-detail>
              </div>
              <div>

                <span class="mr-3">
                  <i (click)="quoteUpvote()" class="material-icons">arrow_drop_up</i> 
                {{ upvote }}
              </span>
                <span class="mr-3">
                  <i (click)="quoteDownvote()" class="material-icons">arrow_drop_down</i>
                {{ downvote }}
              </span>
              </div>
              </div>      
          </div>
        </li>
      </ul>     
    </div>

    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div> 
  </div>
</div>
  