h1{
  text-align: center;
}

.card{
  background-color: var(--main2-color);
}

b{
  color: #fff;
}

span{
  color: #fff;
}

.btn{
  background-color: var(--main5-color);
  border-style: none;
}

.material-icons{
  cursor: pointer;
}