<div class="row">
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Add New Quote</span>
          <hr>
          <div class="form-group">
            <div class="input-field col s12">
              <input type="text"  class="materialize-textarea form-control" id="text" [(ngModel)]="newQuote.text" name="text" #text='ngModel' required>
                <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                  <p>Quote is required</p>
                </div>
              <!-- </textarea> -->
              <!-- <input type="text" class="form-control" id="text" [(ngModel)]="newQuote.text" name="text" #text='ngModel' required>
              <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
                <p>Quote is required</p>
              </div> -->
              <label for="text">Qoute:</label>
              {{newQuote.text}}
            </div>
          </div>
          <div class="form-group">
          <div class="input-field col s12">
            <!-- <i class="bi bi-person-circle"></i> -->
            <i class="material-icons prefix">account_circle</i>
            <!-- <input #quoteBy name="quoteby" type="text" class="validate"> -->
            <input type="text" class="materialize-textarea form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
              <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Quoted by who?</p>
              </div>
            <label for="author">By:</label>
            {{newQuote.author}}
          </div>
        </div>

        <div class="form-group">

          <div class="input-field col s12">
          <!-- <i class="bi bi-person-circle"></i> -->
            <i class="material-icons prefix">account_circle</i>
            <!-- <input #quoteBy name="quoteby" type="text" class="validate"> -->
            <input type="text" class="materialize-textarea form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Your Name is required</p>
              </div>
            <label for="name">Your Name:</label>
            {{newQuote.name}}
          </div>
        </div>
        
          <div class="input-field col s3 offset-s9">
            <button class="btn waves-effect waves-light" type="submit" name="action">Post
              <i class="material-icons right">send</i>
            </button>      
          </div>
        </div>      
      </div>
  </form>
</div>